@import "tailwindcss";
@custom-variant hover (&:hover);

@theme {
    --color-bg: #000614;
    --color-hero: #000614;
    --color-card: #020305;
    --color-text-title: #fcfcfc;
    --color-text: #cccccc;
    --color-primary: #219bff;
    --color-nav: #0203055f;
}
.a{
    background-color: #0a1019;
}

html,
body{
    @apply bg-bg text-text w-1/1 h-1/1
}

.clickedAnimation:active{
    transform: scale(0.9);
    transition: .3s ease-in-out;
}

.cursorAnimation {
    animation: 
        cursor 5s steps(50) 1s normal both,
        cursorColor 4s step-end normal both;
}
@keyframes cursor {
    from { width: 0; }
    to { width: 100%; }
}
@keyframes cursorColor{
    from { border-right-color: #ffffffdd; }
    to { border-right-color: transparent; }
}

.appearTextP{
    animation: appearTextP 1s ease-in-out;
}
@keyframes appearTextP{
    from { margin-top: 20px; opacity: 0; }
    to { margin-top: 0px; opacity: 1.5; }
}